<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.barton.sbc.dao.EncodeMapper" >
  <resultMap id="BaseResultMap" type="com.barton.sbc.domain.entity.Encode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="kind" property="kind" jdbcType="VARCHAR" />
    <result column="kind_name" property="kindName" jdbcType="VARCHAR" />
    <result column="encode" property="encode" jdbcType="VARCHAR" />
    <result column="encode_name" property="encodeName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="simple_spelling" property="simpleSpelling" jdbcType="VARCHAR" />
    <result column="full_spelling" property="fullSpelling" jdbcType="VARCHAR" />
    <result column="extend_a" property="extendA" jdbcType="VARCHAR" />
    <result column="extend_b" property="extendB" jdbcType="VARCHAR" />
    <result column="extend_c" property="extendC" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, kind, kind_name, encode, encode_name, parent_id, enable, order_id, simple_spelling, 
    full_spelling, extend_a, extend_b, extend_c
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_encode
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_encode
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.barton.sbc.domain.entity.Encode" >
    insert into sys_encode (id, kind, kind_name, 
      encode, encode_name, parent_id, 
      enable, order_id, simple_spelling, 
      full_spelling, extend_a, extend_b, 
      extend_c)
    values (#{id,jdbcType=VARCHAR}, #{kind,jdbcType=VARCHAR}, #{kindName,jdbcType=VARCHAR},
      #{encode,jdbcType=VARCHAR}, #{encodeName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{enable,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, #{simpleSpelling,jdbcType=VARCHAR}, 
      #{fullSpelling,jdbcType=VARCHAR}, #{extendA,jdbcType=VARCHAR}, #{extendB,jdbcType=VARCHAR}, 
      #{extendC,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.barton.sbc.domain.entity.Encode" >
    insert into sys_encode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="kind != null" >
        kind,
      </if>
      <if test="kindName != null" >
        kind_name,
      </if>
      <if test="encode != null" >
        encode,
      </if>
      <if test="encodeName != null" >
        encode_name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="simpleSpelling != null" >
        simple_spelling,
      </if>
      <if test="fullSpelling != null" >
        full_spelling,
      </if>
      <if test="extendA != null" >
        extend_a,
      </if>
      <if test="extendB != null" >
        extend_b,
      </if>
      <if test="extendC != null" >
        extend_c,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="kindName != null" >
        #{kindName,jdbcType=VARCHAR},
      </if>
      <if test="encode != null" >
        #{encode,jdbcType=VARCHAR},
      </if>
      <if test="encodeName != null" >
        #{encodeName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="simpleSpelling != null" >
        #{simpleSpelling,jdbcType=VARCHAR},
      </if>
      <if test="fullSpelling != null" >
        #{fullSpelling,jdbcType=VARCHAR},
      </if>
      <if test="extendA != null" >
        #{extendA,jdbcType=VARCHAR},
      </if>
      <if test="extendB != null" >
        #{extendB,jdbcType=VARCHAR},
      </if>
      <if test="extendC != null" >
        #{extendC,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.barton.sbc.domain.entity.Encode" >
    update sys_encode
    <set >
      <if test="kind != null" >
        kind = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="kindName != null" >
        kind_name = #{kindName,jdbcType=VARCHAR},
      </if>
      <if test="encode != null" >
        encode = #{encode,jdbcType=VARCHAR},
      </if>
      <if test="encodeName != null" >
        encode_name = #{encodeName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="simpleSpelling != null" >
        simple_spelling = #{simpleSpelling,jdbcType=VARCHAR},
      </if>
      <if test="fullSpelling != null" >
        full_spelling = #{fullSpelling,jdbcType=VARCHAR},
      </if>
      <if test="extendA != null" >
        extend_a = #{extendA,jdbcType=VARCHAR},
      </if>
      <if test="extendB != null" >
        extend_b = #{extendB,jdbcType=VARCHAR},
      </if>
      <if test="extendC != null" >
        extend_c = #{extendC,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.barton.sbc.domain.entity.Encode" >
    update sys_encode
    set kind = #{kind,jdbcType=VARCHAR},
      kind_name = #{kindName,jdbcType=VARCHAR},
      encode = #{encode,jdbcType=VARCHAR},
      encode_name = #{encodeName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      simple_spelling = #{simpleSpelling,jdbcType=VARCHAR},
      full_spelling = #{fullSpelling,jdbcType=VARCHAR},
      extend_a = #{extendA,jdbcType=VARCHAR},
      extend_b = #{extendB,jdbcType=VARCHAR},
      extend_c = #{extendC,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByKind" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_encode
    where kind = #{kind,jdbcType=VARCHAR}
    and enable = 0
    order by order_id asc
  </select>
  <select id="selectByKinds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_encode
    WHERE kind IN
    <foreach collection="list" item="kind" index="index"
             open="(" close=")" separator=",">
      #{kind}
    </foreach>
    and enable = 0 order by order_id asc
  </select>
</mapper>